<nz-header style="padding: 0; ">
  <div class="logo"></div>
  <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;background: #c8d6e5; padding-right: 10px;">
    <li class="li">
      <div>
        <nz-dropdown [nzPlacement]="'bottomRight'">
          <img nz-dropdown src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" alt="" style="height: 45px; width: 45px; border-radius: 50%; background: white;">
          <ul class="menu" nz-menu *ngIf="config">
            <li *ngIf="config.profile">
              <i class="anticon anticon-user"></i>Profile
            </li>
            <li *ngIf="config.blogs">
              <i class="anticon anticon-user"></i>Blogs
            </li>
            <li *ngIf="config.createBlog">
              <i class="anticon anticon-user"></i>Create a Blog
            </li>
            <li>
              <i class="anticon anticon-user" [routerLink]="['/main/auth/1']"></i>Sign Up
            </li>
            <li>
              <i class="anticon anticon-user" [routerLink]="['/main/auth/0']"></i>Sign In
            </li>
            <li>
              <i class="anticon anticon-user"></i>Logout
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </li>
  </ul>
</nz-header>