.list{
    display: inline-flex;
    margin: 10px 20px 10px 20px;
    text-align: unset;
    
}
.main{
    text-align: center;
    overflow: scroll;
}

.spinner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999!important;
}