<div class="auth" style="height: calc(100% - 50px);">
  <div class="auth-inner" style="height: 100%;">
    <nz-card style="width: 100%; height: 100%;">
      <nz-card-tab>
        <nz-tabset nzSize="large" [(nzSelectedIndex)]="index">
          <nz-tab nzTitle="Sign In"></nz-tab>
          <nz-tab nzTitle="Sign Up"></nz-tab>
        </nz-tabset>
      </nz-card-tab>
      <nz-content style="height: 100%;overflow: scroll;">
        <app-signin *ngIf="index == 0" (changeTab)="goToSignUpTab()"></app-signin>
        <app-signup *ngIf="index == 1" (changeTab)="goToSignInTab()"></app-signup>
      </nz-content>
    </nz-card>
  </div>
</div>