signin{
}
.signin-inner{
    width: 60%;
    margin: auto;
}
.login-form {
    max-width: 300px;
    margin: auto;
    padding-top: 30px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
@media only screen and (max-width: 800px) {
    .signin-inner{
        width: 100%;
    }
}