<nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionlike, actiondislike]">
  <nz-card-meta [nzTitle]="data.title" [nzDescription]="data.description" [nzAvatar]="avatarTemplate"></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar [nzSrc]="data.thumbnail"></nz-avatar>
</ng-template>
<ng-template #coverTemplate>
  <img alt="example" [src]="data.profileImage"/>
</ng-template>
<ng-template #actionlike>
  <i class="anticon anticon-like"></i>{{data.likes}}
</ng-template>
<ng-template #actiondislike>
  <i class="anticon anticon-dislike"></i>{{data.dislikes}}
</ng-template>
<ng-template #nzDescription>
  hihi
</ng-template>
<!--
<ng-template #actionEllipsis>
  <i class="anticon anticon-ellipsis"></i>
</ng-template> -->