.ant-card-body{
  text-align: left;
  padding: 10px;
}
.count{
    font-size: 10px;
    margin-bottom: 0!important
}
.ant-card-meta-title{
    font-size: 12px;
}

.ant-card-actions > li{
    margin-top: 5px;
    margin-bottom: 4px;
}