<div>
    <div class="searchOuter">
        <div class="searchBox">
            <nz-input-group nzSuffixIcon="anticon anticon-search">
                <input type="text" nz-input placeholder="Search">
            </nz-input-group>
        </div>
    </div>
    <div class="mobile" *ngIf="isMobile()">
        <nz-dropdown [nzPlacement]="'bottomCenter'">
            <button class="cat-btn" nz-button nz-dropdown>Category</button>
            <app-left-nav [list]="list" (valueChange)="updateSubList($event)"></app-left-nav>
        </nz-dropdown>
        <nz-dropdown [nzPlacement]="'bottomCenter'">
            <button class="cat-btn" nz-button nz-dropdown>SubCategory</button>
            <app-right-nav [list]="subList" (valueChange)="updateData($event)"></app-right-nav>
        </nz-dropdown>
    </div>
</div>

<nz-layout class="layout" style="height: calc(100% - 200px)">
    <nz-content style="padding:0 0px;height: 100%;">
        <nz-layout style="padding:12px 0; background: #fff; height: 100%;">
            <nz-sider [nzWidth]="isMobile() ? 0 : 180" style="background:#fff">
                <app-left-nav [list]="list" (valueChange)="updateSubList($event)" *ngIf="!isMobile()"></app-left-nav>
            </nz-sider>
            <nz-content style="padding: 0 0px; min-height: 280px;">
                <app-blog-list-content [selectedTopicId]="selectedTopicId" [selectedSubTopicId]="selectedSubTopicId"></app-blog-list-content>
            </nz-content>
            <nz-sider [nzWidth]="isMobile() ? 0 : 180" style="background:#fff; border-left: 1px solid #e8e8e8;">
                <app-right-nav [list]="subList" (valueChange)="updateData($event)" *ngIf="!isMobile()"></app-right-nav>
            </nz-sider>
        </nz-layout>
    </nz-content>
</nz-layout>